@media (max-width: 1200px){
	.competition__img{
		width: 30%;
	}
}

@media (max-width: 1020px){
	.contact__item{
		margin: 0px 20px;
	}
}

@media (max-width: 950px){
	.achivment__item_container{
		width: 90%;
	}
}

@media (max-width: 900px){
	.rules__condition_title{
		width: auto;
	}

	.rules__conditions{
		width: 100%;
	}
}

@media (max-width: 800px){
	.competition__inner{
		align-items: center;
		flex-direction: column-reverse;
		text-align: center;
	}
}

@media (max-width: 870px){
	.rules_page__img{
		display: none;
	}

	.contact_form__img_container{
		display: none;
	}

	.contact_form__form_container{
		margin: 0px;
	}
}

@media (min-width: 849px){
	.burger_btn{
		display: none;
	}
}

@media (max-width: 848px){

	.header__link,
	.header__btn{
		display: none;
	}

	.title__text_subtitle{
		text-align: center;
	}

	.contact__list{
		flex-direction: column;
	}

	.contact__item{
		margin: 30px 0px;
	}
}

@media (max-width: 700px){
	.achivment__item_container{
		flex-direction: column;
	}

	.achivment__item{
		margin: 20px 0px;
	}
}

@media (max-width: 600px){
	.rules__conditions{
		flex-direction: column;
	}

	.rules__condition{
		margin: 20px 0px ;

		&:hover{
			transform: scale(0.9);
		}
	}

	.competition__subtitle{
		width: auto;
	}
}

@media (max-width: 450px){
	.footer__nav{
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.footer__link{
		margin: 10px 0px;

		&:hover{
			font-family: Montserrat-med;
			margin: 10px 0px;
		}
	}

	.rules__title{
		font-size: 28px;
	}

	.rules{
		padding: 80px 0px;
		margin-top: 200px;
	}

	.competition{
		margin-top: 200px;
	}

	.footer{
		margin-top: 200px;
	}

	.rules_page__rule{
		flex-direction: column;
		margin: 50px 0px;
	}

	.rules_page__condition_title{
		width: 300px;
	}

	.contact_form__title{
		font-size: 29px;
	}

	.contact_form__input{
		width: 55%;
	}

	.contact_form__textarea{
		width: 80%;
	}

	.achivment__title{
		font-size: 35px;
	}

	.why__title{
		font-size: 33px;
	}
}

@media (max-width: 400px){
	.highlighter{
		padding: 0px;
		border-bottom: 2px #31de79 solid;

		&:hover{
			padding: 0px;
		}
	}
}
